/* Gallery.css */
.gallery-page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    background:linear-gradient(#fff,#f4f4f4,#d4d4e4);
    min-height: 100vh;
}
